body {
    font-family: 'Kode Mono', monospace;
    text-align: center;
    margin: 0;
    background: linear-gradient(to right, #4f0acf, #3e0467);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.check-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    animation: scaleUp 0.3s ease forwards;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.icon-text {
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.spinner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spinner-icon {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
