body {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(to right, #4f0acf, #3e0467); /* Sfumatura da arancione a rosa */
    color: #ffffff; /* Colore del testo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Imposta l'altezza del corpo a 100% della viewport */
}

.check-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    animation: scaleUp 0.3s ease forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.spinner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spinner-icon {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}